@model IEnumerable<TicketsTrainDomain.Model.TicketTypeTrain>

@{
    ViewData["Title"] = "Типи квитків (управління)";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити новий зв’язок</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Тип квитка</th>
            <th>Поїзд</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TicketType?.Name</td>
                <td>@item.Train?.TrainName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Деталі</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
